@{
    ViewBag.Title = "Contact";
}
<br/>

<p>
    主要联系方式：
</p>
<address>
    <strong>Support:</strong>   <a href="mailto:admin@jybdpy123.com">admin@jybdpy123.com</a><br />
    <strong>Private:</strong>   <a href="mailto:jybdpy123@gmail.com">jybdpy123@gmail.com</a>
</address>

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@